{% extends "base.html" %}
{% load custom_filters %}

{% block title %}{{ block.super }} | Sign In{% endblock %}

{% block content %}
<header class="bg-light p-3">
  <div class="container">
      <div class="d-flex justify-content-between align-items-center">
          <h1 class="m-0">Log In</h1>
      </div>
      <br>
      <!-- Display error message here if log in fails -->
      {% if form.errors %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
              Invalid username or password.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_username">Username</label>
          <br>
          {{ form.username|add_form_control }}
        </div>
        <br>
        <div class="form-group">
          <label for="id_password">Password</label>
          <br>
          {{ form.password|add_form_control }}
        </div>
        <br>
        <button type="submit" class="btn btn-dark" style="background-color: #BB0000 !important;">Log In</button>
      </form>
      <br>
      <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
  </div>
</header>
{% endblock %}