{% extends "base.html" %}
{% block style %}
    <style>
        /* Center the image horizontally */
        .bottom-container {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
        }
        
        .input-group-space {
            padding-left: 5px;
            padding-right: 5px;
        }

        .top_note {
            color: red;
        }
    </style>
{% endblock %}

{% block title %}{{ block.super }} | Grader Application{% endblock %}

{%block content %}
<header class="bg-light p-3">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            {% if not applied %}
            <h1 class="m-0">Grader Application Form</h1>
            {% endif %}
            {% if applied %}
            <h1 class="m-0">Update Application</h1>
            {% endif %}
        </div>
    </div>
</header>

        <form action="{% url 'application' %}" method="POST" enctype="mutipart/form-data">
            {% csrf_token %}

            <!-- display error message -->
            {% for message in messages %}
                <p class="text-center text-danger font-weight-bold"> {{ message }} </p>
            {% endfor %}
            <div class="container mt-4">
                <div>
                    <div>
                        <h6 class="top_note">Fields marked with ** are required.</h6>
                    </div>
                    <div>
                        <div>
                            <h6> **What is your location for this term?</h6>
                        </div>
                        <input class="location-input" type="radio" name="in_columbus" id="locationColumbus" value=1 {% if student.in_columbus == 1 %} checked {% endif %}>
                        <label class="location-label" for="locationColumbus">
                            Columbus, OH (or are able/willing to commute)
                        </label>
                    </div>
                    
                    <div>
                        <input class="location-input" type="radio" name="in_columbus" id="locationNotColumbus" value=0 {% if student.in_columbus == 0 %} checked {% endif %}>
                        <label class="location-label" for="locationUS">
                            Not in Columbus (not able/willing to commute)
                        </label>
                    </div>
                </div> <br/>

                <div id="previous-grader">
                        <h6> **Have you been hired as a CSE grader before?</h6>
                    <div>
                        <input class="grader-input" type="radio" name="previous_grader" id="graderYes" value=1 {% if student.graded_last_term != ''%}{% if applied %} checked {% endif %}{% endif %} >
                        <label class="grader-label" for="graderYes">
                            Yes 
                        </label>
                    </div>
                    <div>
                        <input class="grader-input" type="radio" name="previous_grader" id="graderNo" value=0 {% if student.graded_last_term == ''%}{% if applied %} checked {% endif %}{% endif %} >
                        <label class="grader-label" for="graderNo">
                            No 
                        </label>
                </div> <br/>

                <div id="recent-term-grader">
                    <h6> **Were you a CSE Grader last term?</h6>
                <div>
                    <input class="grader-input" type="radio" name="recent_term_grader" id="graderYes" value=1 {% if student.graded_last_term != ''%}{% if applied %} checked {% endif %}{% endif %}  >
                    <label class="grader-label" for="graderYes">
                        Yes 
                    </label>
                </div>
                <div>
                    <input class="grader-input" type="radio" name="recent_term_grader" id="graderNo" value=0 {% if student.graded_last_term == ''%}{% if applied %} checked {% endif %}{% endif %}  >
                    <label class="grader-label" for="graderNo">
                        No 
                    </label>
            </div> <br/>

                <div>
                    <h6>If yes: </h6>
                    <label for="prev-class"> Enter the course number of the class you graded. If there is more than one, enter the <em>ONE</em> that you would prefer to grade for : </label>
                    <input id="prev-class" type="text" name="prev_class" value={{ student.graded_last_term }}>
                </div> <br/>

                <div id="requested-classes">
                    <label for="requested-classes">
                        **Which CSE course(s) would you like to grade for this coming term (in order of preference)?
                        Just enter the 4 digit number.<br/>
                        Remember that you should have earned an A/A- equivalent grade to be a grader for each course you list. <br/>
                    </label>
                    <h6>NOTE: If you are interested in being a grader for 2221 or 2231, please contact your instructor for a recommendation.<h6/>
                    <h6>NOTE: Only one course required, but you may enter up to three. Instructor info is not required unless you are requesting a specific instructor. :<h6/>
                    <div class="input-group container mt-4">
                        <input id="preferred-class" type="text" name="preferred_class_1" placeholder="Course Number" value={{ course1.course_number.course_number }}>
                        <span class="input-group-space"/>
                        <input id="preferred-class-instr" type="text" name="preferred_class_instr_1" placeholder="Instructor Name.#" value={{ course1.instructor }}>
                    </div>
                    <div class="input-group container mt-1">
                        <input id="preferred-class" type="text" name="preferred_class_2" placeholder="Course Number" value={{ course2.course_number.course_number }}>
                        <span class="input-group-space"/>
                        <input id="preferred-class-instr" type="text" name="preferred_class_instr_2" placeholder="Instructor Name.#" value={{ course2.instructor }}>
                    </div>
                    <div class="input-group container mt-1">
                        <input id="preferred-class" type="text" name="preferred_class_3" placeholder="Course Number" value={{ course3.course_number.course_number }}>
                        <span class="input-group-space"/>
                        <input id="preferred-class-instr" type="text" name="preferred_class_instr_3" placeholder="Instructor Name.#" value={{ course3.instructor }}>
                    </div></br>
                    <input class="btn btn-primary btn-lg" style="background-color: #BB0000 !important;" type="submit" value="Submit Application" >
                </div>
        </form>

{% endblock %}
