<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}Test output{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>

<body style="text-align: center;">

  <!-- {% for s in query %}
    <p>id={{s.id}}</p>
    <p>u={{s.user}}</p>
    <p>em={{s.email}}</p>
    <p>fName={{s.first_name}}</p>
    <p>lName={{s.last_name}}</p>
    <p>col={{s.in_columbus}}</p>
    <p>grader={{s.previous_grader}}</p>
    <p>class={{s.previous_classes}}</p>
    <br>
  {% endfor %}
    {% for us in unassign %}
    <p>id={{us.student_id}}</p>
    <p>time={{submission_time}}</p>
    <br>
    {% endfor %}

    {% for c in courses %}
    <p>course Num={{c.course_number}}</p>
    <p>name={{c.name}}</p>
    <br>
    {% endfor %} -->



</body>

</html>