{% extends "base.html" %}
{% block title %}Course Detail{% endblock %}
{% block content %}
<header class="bg-light p-3">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="m-0">{{ course }}</h1>
        </div>
    </div>
</header>
<header class="bg-light p-3">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="m-0">Sections</h2>
            <button id="add-section-btn" class="btn btn-primary" style="background-color: #BB0000 !important;">Add Section</button>
        </div>
    </div>
</header>
<div class="container mt-4">
    <tr class="sections-row" style="display: none;">
        <td>
            <table class="table">
                <thead>
                    <tr>
                        <th>Section Number</th>
                        <th>Semester</th>
                        <th>Instructor</th>
                        <th>Instruction Mode</th>
                        <th>Time</th>
                        <th>Days of Week</th>
                        <th>Classroom</th>
                        <th>Graders Needed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for section in sections %}
                        {% if section.course_number.course_number == course.course_number %}
                        <tr {% if section.num_graders_needed == 0 %} class="table-success" {% else %} class="table-danger" {% endif %}>
                            <td>{{ section.section_number }}</td>
                            <td>{{ section.semester }}</td>
                            <td>{% if section.instructor is not none %}{{ section.instructor }}{% else %}TBD{% endif %}</td>
                            <td>{{ section.instruction_mode }}</td>
                            <td>{{ section.time }}</td>
                            <td>{{ section.days_of_week }}</td>
                            <td>{{ section.classroom }}</td>
                            <td>{{ section.num_graders_needed }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </td>
    </tr>
</div>

<!-- Modal for the section form -->
<div class="modal" id="sectionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Section</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="section-form" action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="add_section" value="add_section">
                    <div class="form-group">
                        <label for="id_section_course_number">Course Number</label>
                        <input type="text" class="form-control" id="id_section_course_number" name="course_number" value="{{ course.course_number }}"readonly>
                    </div>
                    <div class="form-group">
                        <label for="id_section_number">Section Number</label>
                        <input type="text" class="form-control" id="id_section_number" name="section_number">
                    </div>
                    <div class="form-group">
                        <label for="id_semester">Semester</label>
                        <input type="text" class="form-control" id="id_semester" name="semester">
                    </div>
                    <div class="form-group">
                        <label for="id_instructor">Instructor</label>
                        <select class="form-control" id="id_instructor" name="instructor">
                            <option value="" selected>TBD</option>
                            {% for instructor in instructors %}
                                <option value="{{ instructor.pk }}">{{ instructor.first_name }} {{ instructor.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="id_instruction_mode">Instruction Mode</label>
                        <select class="form-control" id="id_instruction_mode" name="instruction_mode">
                            <option value="SYNCHRONOUS">SYNCHRONOUS</option>
                            <option value="ASYNCHRONOUS">ASYNCHRONOUS</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="id_time">Time</label>
                        <input type="text" class="form-control" id="id_time" name="time">
                    </div>
                    <div class="form-group">
                        <label for="id_days_of_week">Days of Week</label>
                        <input type="text" class="form-control" id="id_days_of_week" name="days_of_week">
                    </div>
                    <div class="form-group">
                        <label for="id_classroom">Classroom</label>
                        <input type="text" class="form-control" id="id_classroom" name="classroom">
                    </div>
                    <div class="form-group">
                        <label for="id_num_graders_needed">Graders Needed</label>
                        <input type="text" class="form-control" id="id_num_graders_needed" name="num_graders_needed">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary"
                            style="background-color: #BB0000 !important;">Add</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Script to show the modals -->
<script>
    // Ensure DOM is fully loaded before executing the script
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('add-section-btn').addEventListener('click', function () {
            var addSectionModal = new bootstrap.Modal(document.getElementById('sectionModal'));
            addSectionModal.show();
        });

        document.getElementById('cancel-btn').addEventListener('click', function () {
            var addSectionModal = new bootstrap.Modal(document.getElementById('sectionModal'));
            addSectionModal.hide();
        });
    });
</script>

{% endblock %}