{% extends "base.html" %}
{% block style %}
    <style>
        /* Center the image horizontally */
        .bottom-container {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
        }
    </style>
{% endblock %}

{%block content %}
    {% csrf_token %}
    <div class='container'>
        <h3>Thank you for submitting an application to be a grader!</h3>
        Your application has been submitted to our system.
    <div>
{% endblock %}