{% extends "base.html" %}
{% block style %}
    <style>
        /* Center the image horizontally */
        .bottom-container {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
        }
    </style>
{% endblock %}

{%block content %}
    {% csrf_token %}
    <div class='container'>
        <h3>Thank you for submitting an application to be a grader!</h3>
        Your application has been submitted to our system.
    <div>
    {% load static %}
    <div class="bottom-container">
        <img src="{% static 'osu_coe.png' %}" alt="" width="226.8" height="32.5" class="bottom-image">
    </div>
{% endblock %}